%h2 New Post
- if notice
  %i.warning.icon
  = notice
= form_for(@post) do |f|
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :message
    %br/
    = f.text_area :message, size: "30x10"
  = f.submit "Post"